<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <h2>Contact Us</h2>
        <ul>
          <li>This is where basic contact info goes</li>
          <li>Address</li>
          <li>phone and hours</li>
          <li>email</li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="image-container">
        <img src="../../assets/images/standin3.png" alt="A standin image">
      </div>
    </div>
  </div>
  <div class="row">
    <app-site-map></app-site-map>
  </div>
  <div class="row">
    <app-legal></app-legal>
  </div>
</div>
