
<div class="row">
  <div class="col-md-12">
    <div class="logo-image">
      <img src="../assets/images/icon.jpg" alt="Redondo Tile">
    </div>
    <div class="lettering-image">
      <img src="../assets/images/redondo-lettering.png" alt="Redondo Tile and Stone">

    </div>

  </div>

</div>
<app-carousel></app-carousel>
<div class="row">
  <div class="col-md-12">
    <h1>Small teaser about section, maybe with picture of the artist</h1>

  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h1>Mini description Link section - to custom builder</h1>
  </div>
  <div class="col-md-4">
    <h1>Mini description Link section - Collection</h1>
  </div>
  <div class="col-md-4">
    <h1>Mini description Link section - Installations gallery</h1>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <h1>Sliding update area of random tiles</h1>

  </div>
</div>
