div.category-detail-image {
  width: 95%;
}

div.category-detail-image img {
  width: 100%;
}

div.dropdown {
  height: 11vh;
}

div.sampler-wrapper {
  width: 50%;
  float: left;
}

div.sampler-wrapper img {
  width: 100%;
}

div.tile-detail-image {
  width: 95%;
}

div.tile-detail-image img{
  width: 100%;
}

div.tile-selector-box {
  height: 78vh;
  overflow-y: auto;
  border-bottom: 1px solid grey;
}
